name: CI
on:
  push:
jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Deps
      run: sudo apt update && sudo apt install -y gcc-arm-none-eabi gcc-arm-linux-gnueabihf libelf-dev
    - name: u-boot
      run: |
        set -e
        git clone https://github.com/losfair/u-boot-xlnx
        cd u-boot-xlnx
        git checkout 47b604b33d97c1776d201cef9b096e4d8421b3e2
        make ARCH=arm CROSS_COMPILE=arm-linux-gnueabihf- zynq_wbpf_defconfig
        make ARCH=arm CROSS_COMPILE=arm-linux-gnueabihf- -j$(nproc)
        ls -lash u-boot.elf
    - name: linux
      run: |
        set -e
        git clone https://github.com/losfair/linux-xlnx
        cd linux-xlnx
        git checkout ae19a172cbe8c25ea10bde78a332167b6a4d35d1
        cp ../linux.config ./.config
        export ARCH=arm CROSS_COMPILE=arm-linux-gnueabihf-
        make -j$(nproc)
    - name: mkbootimage
      run: |
        set -e
        git clone https://github.com/antmicro/zynq-mkbootimage
        cd zynq-mkbootimage
        git checkout 29f7d69d115c20dc1b3a63810ebcb2451a7a1411
        make
        cp ../linux-xlnx/arch/arm/boot/dts/zynq-wbpf.dtb ./
        cp ../linux-xlnx/arch/arm/boot/zImage ./
        cp ../u-boot-xlnx/u-boot.elf ./
        curl -sSL -o fsbl.elf https://s3.us-west-1.amazonaws.com/build-res.s3.univalent.net/zynq_fsbl_altk_7020.elf
        curl -sSL -o wbpf.bit https://s3.us-west-1.amazonaws.com/build-res.s3.univalent.net/wbpf_202203292207.bit
        ./mkbootimage ../build.bif ../BOOT.BIN
        ls -lash ../BOOT.BIN
    - name: Upload
      uses: actions/upload-artifact@v2
      with:
        name: BOOT-BIN
        path: ./BOOT.BIN
